body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #333;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

/* Левая часть с QR и кнопкой */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  text-align: left;
}

.qr-image {
  max-width: 200px;  /* ограничиваем ширину QR */
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.pay-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.pay-button:hover {
  background-color: #0056b3;
}

.description {
  font-size: 1rem;
  color: #555;
}

/* Правая часть с надписью */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  background-color: #f8f8f8;
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}
